---
http_interactions:
- request:
    method: get
    uri: https://waterservices.usgs.gov/nwis/iv/?endDT=2025-12-16T05:18&format=json&parameterCd=00060&sites=06716500&startDT=2025-12-15T05:18
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ns1:timeSeriesResponseType","declaredType":"org.cuahsi.waterml.TimeSeriesResponseType","scope":"javax.xml.bind.JAXBElement$GlobalScope","value":{"queryInfo":{"queryURL":"http://waterservices.usgs.gov/nwis/iv/format=json&sites=06716500&parameterCd=00060&startDT=2025-12-15T05%3A18&endDT=2025-12-16T05%3A18","criteria":{"locationParam":"[ALL:06716500]","variableParam":"[00060]","timeParam":{"beginDateTime":"2025-12-15T05:18:00.000","endDateTime":"2025-12-16T05:18:00.000"},"parameter":[]},"note":[{"value":"[ALL:06716500]","title":"filter:sites"},{"value":"[mode=RANGE,
        modifiedSince=null] interval={INTERVAL[2025-12-15T05:18:00.000Z/2025-12-16T05:18:00.000Z]}","title":"filter:timeRange"},{"value":"methodIds=[ALL]","title":"filter:methodId"},{"value":"2025-12-16T05:18:39.351Z","title":"requestDT"},{"value":"ae2d0960-da3e-11f0-9580-005056beda50","title":"requestId"},{"value":"Provisional
        data are subject to revision. Go to http://waterdata.usgs.gov/nwis/help/?provisional
        for more information.","title":"disclaimer"},{"value":"caas01","title":"server"}]},"timeSeries":[{"sourceInfo":{"siteName":"CLEAR
        CREEK NEAR LAWSON, CO","siteCode":[{"value":"06716500","network":"NWIS","agencyCode":"USGS"}],"timeZoneInfo":{"defaultTimeZone":{"zoneOffset":"-07:00","zoneAbbreviation":"MST"},"daylightSavingsTimeZone":{"zoneOffset":"-06:00","zoneAbbreviation":"MDT"},"siteUsesDaylightSavingsTime":true},"geoLocation":{"geogLocation":{"srs":"EPSG:4326","latitude":39.7658209,"longitude":-105.6261123},"localSiteXY":[]},"note":[],"siteType":[],"siteProperty":[{"value":"ST","name":"siteTypeCd"},{"value":"10190004","name":"hucCd"},{"value":"08","name":"stateCd"},{"value":"08019","name":"countyCd"}]},"variable":{"variableCode":[{"value":"00060","network":"NWIS","vocabulary":"NWIS:UnitValues","variableID":45807197,"default":true}],"variableName":"Streamflow,
        ft&#179;/s","variableDescription":"Discharge, cubic feet per second","valueType":"Derived
        Value","unit":{"unitCode":"ft3/s"},"options":{"option":[{"name":"Statistic","optionCode":"00000"}]},"note":[],"noDataValue":-999999.0,"variableProperty":[],"oid":"45807197"},"values":[{"value":[{"value":"23.8","qualifiers":["P"],"dateTime":"2025-12-15T05:30:00.000-07:00"},{"value":"23.8","qualifiers":["P"],"dateTime":"2025-12-15T05:45:00.000-07:00"},{"value":"23.8","qualifiers":["P"],"dateTime":"2025-12-15T06:00:00.000-07:00"},{"value":"23.8","qualifiers":["P"],"dateTime":"2025-12-15T06:15:00.000-07:00"},{"value":"23.8","qualifiers":["P"],"dateTime":"2025-12-15T06:30:00.000-07:00"},{"value":"23.8","qualifiers":["P"],"dateTime":"2025-12-15T06:45:00.000-07:00"},{"value":"23.8","qualifiers":["P"],"dateTime":"2025-12-15T07:00:00.000-0[...]
