---
http_interactions:
- request:
    method: get
    uri: https://waterservices.usgs.gov/nwis/dv/?endDT=2023-06-30&format=json&parameterCd=00060&sites=06716500&startDT=2023-06-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ns1:timeSeriesResponseType","declaredType":"org.cuahsi.waterml.TimeSeriesResponseType","scope":"javax.xml.bind.JAXBElement$GlobalScope","value":{"queryInfo":{"queryURL":"http://waterservices.usgs.gov/nwis/dv/format=json&sites=06716500&parameterCd=00060&startDT=2023-06-01&endDT=2023-06-30","criteria":{"locationParam":"[ALL:06716500]","variableParam":"[00060]","timeParam":{"beginDateTime":"2023-06-01T00:00:00.000","endDateTime":"2023-06-30T00:00:00.000"},"parameter":[]},"note":[{"value":"[ALL:06716500]","title":"filter:sites"},{"value":"[mode=RANGE,
        modifiedSince=null] interval={INTERVAL[2023-06-01T00:00:00.000-04:00/2023-06-30T00:00:00.000-04:00]}","title":"filter:timeRange"},{"value":"methodIds=[ALL]","title":"filter:methodId"},{"value":"2025-12-13T06:23:35.782Z","title":"requestDT"},{"value":"4163f950-d7ec-11f0-bd24-2cea7f58f5ca","title":"requestId"},{"value":"Provisional
        data are subject to revision. Go to http://waterdata.usgs.gov/nwis/help/?provisional
        for more information.","title":"disclaimer"},{"value":"vaas01","title":"server"}]},"timeSeries":[{"sourceInfo":{"siteName":"CLEAR
        CREEK NEAR LAWSON, CO","siteCode":[{"value":"06716500","network":"NWIS","agencyCode":"USGS"}],"timeZoneInfo":{"defaultTimeZone":{"zoneOffset":"-07:00","zoneAbbreviation":"MST"},"daylightSavingsTimeZone":{"zoneOffset":"-06:00","zoneAbbreviation":"MDT"},"siteUsesDaylightSavingsTime":true},"geoLocation":{"geogLocation":{"srs":"EPSG:4326","latitude":39.7658209,"longitude":-105.6261123},"localSiteXY":[]},"note":[],"siteType":[],"siteProperty":[{"value":"ST","name":"siteTypeCd"},{"value":"10190004","name":"hucCd"},{"value":"08","name":"stateCd"},{"value":"08019","name":"countyCd"}]},"variable":{"variableCode":[{"value":"00060","network":"NWIS","vocabulary":"NWIS:UnitValues","variableID":45807197,"default":true}],"variableName":"Streamflow,
        ft&#179;/s","variableDescription":"Discharge, cubic feet per second","valueType":"Derived
        Value","unit":{"unitCode":"ft3/s"},"options":{"option":[{"value":"Mean","name":"Statistic","optionCode":"00003"}]},"note":[],"noDataValue":-999999.0,"variableProperty":[],"oid":"45807197"},"values":[{"value":[{"value":"440","qualifiers":["A"],"dateTime":"2023-06-01T00:00:00.000"},{"value":"440","qualifiers":["A"],"dateTime":"2023-06-02T00:00:00.000"},{"value":"414","qualifiers":["A"],"dateTime":"2023-06-03T00:00:00.000"},{"value":"413","qualifiers":["A"],"dateTime":"2023-06-04T00:00:00.000"},{"value":"428","qualifiers":["A"],"dateTime":"2023-06-05T00:00:00.000"},{"value":"451","qualifiers":["A"],"dateTime":"2023-06-06T00:00:00.000"},{"value":"506","qualifiers":["A"],"dateTime":"2023-06-07T00:00:00.000"},{"value":"554","qualifiers":["A"],"dateTi[...]
