---
http_interactions:
- request:
    method: get
    uri: https://waterservices.usgs.gov/nwis/dv/?endDT=2025-12-13&format=json&parameterCd=00010&sites=06716500&startDT=2025-12-11
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ns1:timeSeriesResponseType","declaredType":"org.cuahsi.waterml.TimeSeriesResponseType","scope":"javax.xml.bind.JAXBElement$GlobalScope","value":{"queryInfo":{"queryURL":"http://waterservices.usgs.gov/nwis/dv/format=json&sites=06716500&parameterCd=00010&startDT=2025-12-11&endDT=2025-12-13","criteria":{"locationParam":"[ALL:06716500]","variableParam":"[00010]","timeParam":{"beginDateTime":"2025-12-11T00:00:00.000","endDateTime":"2025-12-13T00:00:00.000"},"parameter":[]},"note":[{"value":"[ALL:06716500]","title":"filter:sites"},{"value":"[mode=RANGE,
        modifiedSince=null] interval={INTERVAL[2025-12-11T00:00:00.000-05:00/2025-12-13T00:00:00.000-05:00]}","title":"filter:timeRange"},{"value":"methodIds=[ALL]","title":"filter:methodId"},{"value":"2025-12-13T08:45:33.794Z","title":"requestDT"},{"value":"16857510-d800-11f0-bd24-2cea7f58f5ca","title":"requestId"},{"value":"Provisional
        data are subject to revision. Go to http://waterdata.usgs.gov/nwis/help/?provisional
        for more information.","title":"disclaimer"},{"value":"vaas01","title":"server"}]},"timeSeries":[]},"nil":false,"globalScope":true,"typeSubstituted":false}'
  recorded_at: Sat, 13 Dec 2025 08:45:33 GMT
recorded_with: VCR 6.3.1
