---
http_interactions:
- request:
    method: get
    uri: https://waterservices.usgs.gov/nwis/iv/?endDT=2025-12-16T04:33&format=json&parameterCd=00060&sites=09038500&startDT=2025-12-15T04:33
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ns1:timeSeriesResponseType","declaredType":"org.cuahsi.waterml.TimeSeriesResponseType","scope":"javax.xml.bind.JAXBElement$GlobalScope","value":{"queryInfo":{"queryURL":"http://waterservices.usgs.gov/nwis/iv/format=json&sites=09038500&parameterCd=00060&startDT=2025-12-15T04%3A33&endDT=2025-12-16T04%3A33","criteria":{"locationParam":"[ALL:09038500]","variableParam":"[00060]","timeParam":{"beginDateTime":"2025-12-15T04:33:00.000","endDateTime":"2025-12-16T04:33:00.000"},"parameter":[]},"note":[{"value":"[ALL:09038500]","title":"filter:sites"},{"value":"[mode=RANGE,
        modifiedSince=null] interval={INTERVAL[2025-12-15T04:33:00.000Z/2025-12-16T04:33:00.000Z]}","title":"filter:timeRange"},{"value":"methodIds=[ALL]","title":"filter:methodId"},{"value":"2025-12-16T04:33:20.742Z","title":"requestDT"},{"value":"59c26060-da38-11f0-a55e-2cea7f58f5ca","title":"requestId"},{"value":"Provisional
        data are subject to revision. Go to http://waterdata.usgs.gov/nwis/help/?provisional
        for more information.","title":"disclaimer"},{"value":"vaas01","title":"server"}]},"timeSeries":[{"sourceInfo":{"siteName":"WILLIAMS
        FORK BELOW WILLIAMS FORK RESERVOIR, CO","siteCode":[{"value":"09038500","network":"NWIS","agencyCode":"USGS"}],"timeZoneInfo":{"defaultTimeZone":{"zoneOffset":"-07:00","zoneAbbreviation":"MST"},"daylightSavingsTimeZone":{"zoneOffset":"-06:00","zoneAbbreviation":"MDT"},"siteUsesDaylightSavingsTime":true},"geoLocation":{"geogLocation":{"srs":"EPSG:4326","latitude":40.03592778,"longitude":-106.2050139},"localSiteXY":[]},"note":[],"siteType":[],"siteProperty":[{"value":"ST","name":"siteTypeCd"},{"value":"14010001","name":"hucCd"},{"value":"08","name":"stateCd"},{"value":"08049","name":"countyCd"}]},"variable":{"variableCode":[{"value":"00060","network":"NWIS","vocabulary":"NWIS:UnitValues","variableID":45807197,"default":true}],"variableName":"Streamflow,
        ft&#179;/s","variableDescription":"Discharge, cubic feet per second","valueType":"Derived
        Value","unit":{"unitCode":"ft3/s"},"options":{"option":[{"name":"Statistic","optionCode":"00000"}]},"note":[],"noDataValue":-999999.0,"variableProperty":[],"oid":"45807197"},"values":[{"value":[{"value":"111","qualifiers":["P"],"dateTime":"2025-12-15T04:45:00.000-07:00"},{"value":"111","qualifiers":["P"],"dateTime":"2025-12-15T05:00:00.000-07:00"},{"value":"111","qualifiers":["P"],"dateTime":"2025-12-15T05:15:00.000-07:00"},{"value":"111","qualifiers":["P"],"dateTime":"2025-12-15T05:30:00.000-07:00"},{"value":"111","qualifiers":["P"],"dateTime":"2025-12-15T05:45:00.000-07:00"},{"value":"111","qualifiers":["P"],"dateTime":"2025-12-15T06:00:00.000-07:00"},{"value":"111","qualifiers":["P"],"dateTime":"2025-12-15T06:15:00.000-07:00"}[...]
