---
http_interactions:
- request:
    method: get
    uri: https://waterservices.usgs.gov/nwis/dv/?endDT=2025-12-16&format=json&parameterCd=00010&sites=06716500&startDT=2025-12-14
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ns1:timeSeriesResponseType","declaredType":"org.cuahsi.waterml.TimeSeriesResponseType","scope":"javax.xml.bind.JAXBElement$GlobalScope","value":{"queryInfo":{"queryURL":"http://waterservices.usgs.gov/nwis/dv/format=json&sites=06716500&parameterCd=00010&startDT=2025-12-14&endDT=2025-12-16","criteria":{"locationParam":"[ALL:06716500]","variableParam":"[00010]","timeParam":{"beginDateTime":"2025-12-14T00:00:00.000","endDateTime":"2025-12-16T00:00:00.000"},"parameter":[]},"note":[{"value":"[ALL:06716500]","title":"filter:sites"},{"value":"[mode=RANGE,
        modifiedSince=null] interval={INTERVAL[2025-12-14T00:00:00.000-05:00/2025-12-16T00:00:00.000-05:00]}","title":"filter:timeRange"},{"value":"methodIds=[ALL]","title":"filter:methodId"},{"value":"2025-12-16T04:33:21.948Z","title":"requestDT"},{"value":"5a7a65c0-da38-11f0-a721-005056beda50","title":"requestId"},{"value":"Provisional
        data are subject to revision. Go to http://waterdata.usgs.gov/nwis/help/?provisional
        for more information.","title":"disclaimer"},{"value":"caas01","title":"server"}]},"timeSeries":[]},"nil":false,"globalScope":true,"typeSubstituted":false}'
  recorded_at: Tue, 16 Dec 2025 04:33:21 GMT
recorded_with: VCR 6.3.1
