---
http_interactions:
- request:
    method: get
    uri: https://waterservices.usgs.gov/nwis/iv/?endDT=2025-12-14T20:03&format=json&parameterCd=00060&sites=09038500,06752000&startDT=2025-12-13T20:03
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ns1:timeSeriesResponseType","declaredType":"org.cuahsi.waterml.TimeSeriesResponseType","scope":"javax.xml.bind.JAXBElement$GlobalScope","value":{"queryInfo":{"queryURL":"http://waterservices.usgs.gov/nwis/iv/format=json&sites=09038500%2C06752000&parameterCd=00060&startDT=2025-12-13T20%3A03&endDT=2025-12-14T20%3A03","criteria":{"locationParam":"[ALL:09038500,
        ALL:06752000]","variableParam":"[00060]","timeParam":{"beginDateTime":"2025-12-13T20:03:00.000","endDateTime":"2025-12-14T20:03:00.000"},"parameter":[]},"note":[{"value":"[ALL:09038500,
        ALL:06752000]","title":"filter:sites"},{"value":"[mode=RANGE, modifiedSince=null]
        interval={INTERVAL[2025-12-13T20:03:00.000Z/2025-12-14T20:03:00.000Z]}","title":"filter:timeRange"},{"value":"methodIds=[ALL]","title":"filter:methodId"},{"value":"2025-12-14T20:03:13.124Z","title":"requestDT"},{"value":"ebc89b30-d927-11f0-9580-005056beda50","title":"requestId"},{"value":"Provisional
        data are subject to revision. Go to http://waterdata.usgs.gov/nwis/help/?provisional
        for more information.","title":"disclaimer"},{"value":"caas01","title":"server"}]},"timeSeries":[{"sourceInfo":{"siteName":"WILLIAMS
        FORK BELOW WILLIAMS FORK RESERVOIR, CO","siteCode":[{"value":"09038500","network":"NWIS","agencyCode":"USGS"}],"timeZoneInfo":{"defaultTimeZone":{"zoneOffset":"-07:00","zoneAbbreviation":"MST"},"daylightSavingsTimeZone":{"zoneOffset":"-06:00","zoneAbbreviation":"MDT"},"siteUsesDaylightSavingsTime":true},"geoLocation":{"geogLocation":{"srs":"EPSG:4326","latitude":40.03592778,"longitude":-106.2050139},"localSiteXY":[]},"note":[],"siteType":[],"siteProperty":[{"value":"ST","name":"siteTypeCd"},{"value":"14010001","name":"hucCd"},{"value":"08","name":"stateCd"},{"value":"08049","name":"countyCd"}]},"variable":{"variableCode":[{"value":"00060","network":"NWIS","vocabulary":"NWIS:UnitValues","variableID":45807197,"default":true}],"variableName":"Streamflow,
        ft&#179;/s","variableDescription":"Discharge, cubic feet per second","valueType":"Derived
        Value","unit":{"unitCode":"ft3/s"},"options":{"option":[{"name":"Statistic","optionCode":"00000"}]},"note":[],"noDataValue":-999999.0,"variableProperty":[],"oid":"45807197"},"values":[{"value":[{"value":"111","qualifiers":["P"],"dateTime":"2025-12-13T20:15:00.000-07:00"},{"value":"111","qualifiers":["P"],"dateTime":"2025-12-13T20:30:00.000-07:00"},{"value":"111","qualifiers":["P"],"dateTime":"2025-12-13T20:45:00.000-07:00"},{"value":"111","qualifiers":["P"],"dateTime":"2025-12-13T21:00:00.000-07:00"},{"value":"111","qualifiers":["P"],"dateTime":"2025-12-13T21:15:00.000-07:00"},{"value":"111","qualifiers":["P"],"dateTime":"2025-12-13T21:30:00.000-07:00"},{"value":"111","qualifiers":["P"],"dateTime":"2025-12-13T21:45:00.000-07:00"}[...]
